---
import { getCollection, type CollectionEntry } from "astro:content";
import Flow from "../components/@Flow.astro";

// Načti články
const articles = await getCollection('media');

// Seskupení do Map podle roku
const groupedArray = Array.from(
  articles
    .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
    .reduce((map, article) => {
      const year = article.data.date.getFullYear();
      if (!map.has(year)) map.set(year, []);
      map.get(year)!.push(article);
      return map;
    }, new Map<number, CollectionEntry<"media">[]>())
).sort((a, b) => b[0] - a[0]); // Udrží pole s roky v sestupném pořadí
---

<Flow heading="Touchdown in Media" cls="mx-2">
  {groupedArray.map(([year, items]) => (
      <h2 class="h4 mx-3 my-5">{year}</h2>

      <div class="row mb-5 mx-0">
      {items.map((item) => (
         <div class="col-sm-6 col-md-6">
				<a class="" href={`/media/${item.slug}`}>
					<div class="papers-card"> 
				
							<img src={"/images/media/"+item.data.logo+".png"} alt={item.data.papers} class="papers-logo">
					
            <p class="text-muted mb-1" aria-label={`Article publishing date: ${item.data.date.toLocaleDateString("en-GB")}`}><small>{item.data.date.toLocaleDateString("cs-CZ")} </small></p>
						<h3 class="h6" aria-label="Article in czech language: {item.data.title}">{item.data.title}</h3> 
						
					</div> 
				</a> 
			</div>
      ))}
      </div>
  ))}
</Flow>
