---
import { getCollection } from "astro:content";

const allArticles = await getCollection("media");

const latest = allArticles
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 3);
---

<section class="v-section-padding" aria-label="Sectors">
	<div class="container container-narrow">

		<div class="row align-items-center mb-5 mx-0">
			
			<div class="col-6">
				<h3 class="mb-0">Media</h3>
			</div>

			<div class="col-6" aria-hidden="true">
				<p class="text-end mb-0"></p>
			</div>
			
		</div>

		<div class="row mb-5 mx-0">

    {latest.map((item) => (
      <div class="col-sm-6 col-md-4">
				<div class="px-1 mt-3"> 
					<p>
						<img src={item.data.papersLogo} alt={item.data.papers} class="img-fluid papers-logo">
					</p>
					<p class="text-muted mb-1" aria-label={`Article publishing date: ${item.data.date.toLocaleDateString("en-GB")}`}><small>{item.data.date.toLocaleDateString("cs-CZ")} </small></p>
					<h3 class="h5" aria-label="Article in czech language: {item.data.title}">{item.data.title}</h3> 
					
					<a class="btn-link btn-arrow-right" href={`/media/${item.slug}`}>Read</a> 
				</div> 
			</div>
    ))}
  <h3></h3>
        <p></p>
        <small></small>

		

		</div>

		<div class="row">
			<div class="col-8 offset-2 text-center">
				<a href="/media" class="btn btn-rounded btn-arrow-right" 
				role="button" aria-label="Find more articles about Touchdown company">Find more articles</a>
			</div>
		</div>

	</div>
</section>

<style>
	
</style>