---
const today = new Date();
import { getCollection } from 'astro:content';
const unsortedServices = await getCollection('services');
const services = unsortedServices.sort((a, b) => a.data.order - b.data.order);
import Image from 'astro/components/Image.astro';
---

<section class="v-section-padding services" aria-label="Consulting" id="consulting-services">
  <div class="container">
    <div class="d-flex flex-column gap-5">
       {services.map(({ id, data }) => (


          <div class="row justify-content-center">

            <div class:list={["col-lg-5 col-md-6", data.side == 'right' ? 'order-md-last' : '']} aria-hidden="true">
              <img src={data.image} alt={data.title} class="img-fluid rounded mb-4 mb-md-0" />
            </div>

            <div class="col-lg-5 col-md-6 d-flex align-items-center">
                <div class="px-4">
                  <h3 class="h4">{data.title}</h3>
                  <p>{data.excerpt}</p>
                  <a class="btn-link btn-arrow-right" href={`/services/${id}`}>{data.linkLabel ? data.linkLabel : 'Read more'}</a>
                </div>
            </div>
             
              
          </div>
      ))}
    </div>
  </div>
</section>
